<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
</head>
<body>
    <header>
        <h1>Hi {{ user.username }}, your inbox</h1>
        <nav>
            <a href="{% url 'logout' %}">Logout</a>
        </nav>
    </header>
    <main>
        <ul>
            {% for user in distinct_users %}
                <li>
                    <a href="{% url 'dm:conversation' user.username %}">Messages with {{ user.username }}</a>
                </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 My Django App</p>
    </footer>
</body>
</html>
