<h1>{{ rental.title }}</h1>
<p>Description: {{ rental.description }}</p>
<p>Price: ${{ rental.price }}</p>
<p>Location: {{ rental.location }}</p>
<p>Zip Code: {{ rental.zip_code }}</p>
<p>Apartment Type: {{ rental.get_apartment_type_display }}</p>
<p>Square Feet: {{ rental.sqft }}</p>
<p>Amenities: {{ rental.amenities }}</p>
{% if rental.image %}
    <img src="{{ rental.image.url }}" alt="{{ rental.title }}">
{% else %}
    <p>No image available</p>
{% endif %}
<a href="{% url 'update_rental' rental.id %}">Edit</a> |
<a href="{% url 'delete_rental' rental.id %}">Delete</a>

<a href="{% url 'rental_list' %}">Back to Listings</a>  <!-- Add this line -->